.about{
  display: flex;
  min-height: 100vh;
  padding-left: 50px;
  background-color: bisque;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
   }

  .leftSection{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 1000px) {
      max-width: 400px;
     }

    h1{
      font-size: 70px;
      font-weight: 600;
      color: #2F2F2F;
      margin-top: 50px;
    }

    .description{
      color: #2F2F2F;
      margin-bottom: 50px;
    }
  }
  .rightSection{
    flex: 3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 0 15px;
    

    
    @media screen and (max-width: 1000px) {
      max-width: 800px;
      justify-content: start;
      margin: 0;
      padding: 0;
     }
  }
}
