.contactSection{
  height: 100vh;
  background-color: white;

  .contactContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
     }

    .leftSection{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media only screen and (max-width: 1000px) {
        justify-content: center;
      }

      .contactForm{
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media only screen and (max-width: 1000px) {
          width: 100%;
          margin: 30px;
        }

        h1{
          font-weight: 200;
        }
        input{
          padding: 20px;
          background-color: #e8e6e6;
          border: none;
          border-radius: 5px;
        }
        .textMessage{
          padding: 20px;
          background-color: #e8e6e6;
          border: none;
          border-radius: 5px;
        }
        button{
          background-color: #da4ea2;
          color: white;
          border: none;
          font-weight: bold;
          cursor: pointer;
          border-radius: 5px;
          padding: 20px;
        }
      }
    }
    .rightSection{
      flex: 2 ;
      @media only screen and (max-width: 1000px) {
        display: none;
      }
    }
  }
}