.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    
    .links{
        display: flex;
        align-items: center;
        gap: 20px;
        
        @media screen and (max-width: 600px) {
            display: none;
        }

        .list{
            display: flex;
            gap: 20px;
            list-style: none;

            .item{
                cursor: pointer;
            }
        }
    }

    .icons{
        display: flex;
        align-items: center;
        gap: 20px;

        button{
            width: 100px;
            padding: 10px;
            color: white;
            background-color: #8636F1;
            cursor: pointer;
            margin: 0 20px;   
            border: none;   
        }
    }
}