

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:768px){
    .container{
        margin: 0 auto;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1400px){
    .container {
        max-width: 1350px;
    }
}



.experience-section {
    position: relative;
    width: 500px;
}

.experience-section .experience-items {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
}

.experience-item {
    // -webkit-box-flex: 0;
    // -ms-flex: 0 0 48%;
    // flex: 0 0 48%;
    width: 100%;
}

.experience-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.experience-info p {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2F2F2F;
    opacity: 1;
    -webkit-animation: showText 0.5s 1s linear forwards;
    animation: showText 0.5s 1s linear forwards ;
}

.progress-line {
    margin: 10px 0;
    height: 2px;
    width: 100%;
    background-color: #373737;
    border-radius: 50px;
    position: relative;
}

.progress-line span {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-animation: animate 1s cubic-bezier(1, 1.0, 0.5, 1) forwards;
    animation: animate 1s cubic-bezier(1, 1.0, 0.5, 1) forwards;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    background-color: #08FDD8;
    transition: 1s all;
}

.progress-line span.animate {
    -webkit-animation: animate 1.5s 0.5s cubic-bezier(1, 1.0, 0.5, 1) forwards;
    animation: animate 1.5s 0.5s cubic-bezier(1, 1.0, 0.5, 1) forwards;
}

@-webkit-keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes animate {
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes animate {
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}